{
    "redis-hostname": "127.0.0.1",
    "redis-port": 6379,
    "redis-auth": false,
    "redis-password": "",
    "video": "/dev/video0",
    "pixels": 750000,
    "initial-pattern": [{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    },{
        "type": "random-hue",
        "step": 0.002
    }]
}
